<div class="bo-header-info"></div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <!-- Heading -->
            <h1>{{this.page.titel}}</h1>
            <hr>
            {{this.page.textBeginning}}
            <img src="{{this.image}}" class="img-responsive"></img>
            {{{md this.page.textEndLong}}}
            <div class="row top30">
                <div class="col-md-12"></div>
            </div>
        </div>
    </div>
</div>
