<md-input-container>
    <input type="text" aria-label="Search Templates" placeholder="Suche" ng-model="searchText" />
</md-input-container>
<md-list>
    <md-list-item ng-repeat="template in lib.templates | filter: {title: searchText}"
                  dnd-draggable="template"
                  dnd-type="'template'"
                  dnd-effect-allowed="copy"
                  dnd-disable-if="lib.active">
        <md-card flex>
            <img draggable="false" ng-src="admin/cms/template.svg" class="md-card-image" style="padding-bottom: 10px; padding-right: calc( 50% - 40px ); padding-left: calc( 50% - 50px ); background-color: #E0E0E0;">
            <md-card-title>
                <md-card-title-text>
                    <span>{{template.title}}</span>
                    <span class="md-subhead">{{template.name}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </md-list-item>
</md-list>
