<html>

<head>
    {{> headContent}}
</head>

<body>
<div class="container-fluid">
{{> navbar }}
</div>
<header>
    <div class="container">
        <img class="header-logo" src="img/logo.svg" alt="The breakout logo">
    </div>
</header>

<div class="container-fluid">

    <section id="about" class="row landing-page-section">
        <div class="container">
            <div class="col-sm-7">
                <h2>Worum gehts?</h2>
                <b>In 36 Stunden. So weit weg wie möglich. Ohne Geld. Für einen guten Zweck.</b>
                <p>BreakOut ist ein Charity-Reisewettbewerb für Abenteuerlustige. Einmal im Jahr
                    gehen
                    die Teilnehmer in Zweierteams in München und Berlin an den Start. Sie haben 36
                    Stunden Zeit, so weit weg wie möglich zu reisen. Und dürfen dabei kein Geld für
                    die
                    Fortbewegung ausgeben. Auf dem Esel, Fahrrad, zu Fuß, im Auto, mit der Bahn oder
                    im
                    U-Boot reisen die Teams für den guten Zweck durch ganz Europa. Das Konzept folgt
                    damit der Idee eines Spendenmarathons: pro gereisten Kilometer sammelt jedes
                    Team
                    Spenden von seinen Teamsponsoren. Die Organisation hinter dem BreakOut ist der
                    BreakOut e.V. Etwa 30 junge Menschen engagieren sich ehrenamtlich für die
                    Planung,
                    Organisation und Durchführung des BreakOuts.
                    <br/>
                    <br/>
                    <a href="/faq">Hier erfährst du, wie alles funktioniert</a>
                </p>
            </div>
            <div class="col-sm-5">
            </div>
        </div>
    </section>

    <section id="video" class="row landing-page-section" style="padding: 0">
        <div id="landingpage-video-overlay row">
            <div id="video-bg"></div>
            <div id="landingpage-video-before" class="container">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-1" id="video-play-btn">
                            <br>
                            <h4 id="play-glyph" class="glyphicon glyphicon-play trigger-play"></h4>
                            <br>
                        </div>
                        <div class="col-sm-11" id="video-play-overlay">
                            <h4>In 36 Stunden.<br>Möglichst weit weg.<br>Ohne Geld.</h4>
                            <a class="trigger-play">Schau dir jetzt unseren Teaser an</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="landingpage-video" class="landingpage-video row" style="display: none">
            <iframe id="landingpage-video-iframe" height="100%" width="100%"
                    src="https://www.youtube.com/embed/neGcu1BHAAU?modestbranding=1&playsinline=0&rel=0&controls=1&autoplay=0"
                    frameborder="none">
            </iframe>
        </div>

    </section>

    <section id="jambo" class="row landing-page-section">
        <div class="container">

            <div class="col-sm-5 col-sm-push-7">
                <img class="img-responsive center-block" src="img/jambologo.png" style="max-height: 300px">
            </div>

            <div class="col-sm-7 col-sm-pull-5">
                <h2>Spendenpartner 2017 - Jambo Bukoba</h2>
                <p>
                    <b>Jambo Bukoba e.V. hilft nachhaltig.</b><br>
                    In 2017 unterstützt BreakOut den Jambo Bukoba
                    e.V. als Partnerorganisation. Durch pädagogisch geschulte Sportlehrer konnten
                    bisher
                    400.000 Schüler für Gleichberechtigung und Gesundheit sensibilisiert und die
                    Bildungssituation nachhaltig verbessert werden. Bereits 25 Schulbauprojekte
                    erweitern darüber hinaus die tansanische Schulinfrastruktur. Der BreakOut 2017
                    finanziert den Bau von 8 Regenwassertanks zur Verbesserung der hygienischen
                    Bedingungen an Schulen in der Region um Bukoba in Tansania. So trägt der
                    BreakOut
                    zur nachhaltigen Bildungsgerechtigkeit bei und leistet Hilfe an der Wurzel der
                    internationalen Flüchtlingskrise.<br><br/>
                    <a href="https://www.jambobukoba.com/">Mehr Infos zu Jambo Bukoba</a>
                </p>
            </div>

        </div>
    </section>

    <section id="instafeed" class="row landing-page-section">
        <!-- Instagram feed get's injected here by landingpage.js -->
    </section>

    <section id="history" class="row landing-page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="history-headline">
                <span class="history-headline-text">
                    Das war 2016
                </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail history-thumbnail">
                        <img src="https://break-out.org/img/static/teams_2016.svg" width="100px"
                             height="100px">
                        <div class="caption history-caption">
                            <h4 style="text-align: center">102 Teams</h4>
                            <p>
                                Beim dritten BreakOut in Deutschland nahmen 102 Zweierteams teil.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail history-thumbnail">
                        <img src="https://break-out.org/img/static/spendensumme_2016.svg"
                             width="100px"
                             height="100px">
                        <div class="caption history-caption">
                            <h4>107.999€ Spenden</h4>
                            <p>
                                Insgesamt hat BreakOut 2016 ein Spendenversprechen von 107.999€ für
                                die
                                UNO-Flüchtlingshilfe erreicht. <br>
                                Mit diesem Geld kann das unser letztjähriger Spendenpartner, das
                                DAFI-Programm
                                der UNO-Flüchtlingshilfe, Flüchtlingen ein Studium in Südafrika
                                bezahlen:
                                Von der Unterkunft über Studiengebühren bis hin zur Kleidung.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail history-thumbnail">
                        <img src="https://break-out.org/img/static/strecke_2016.svg" width="100px"
                             height="100px">
                        <div class="caption history-caption">
                            <h4 style="text-align: center">104.924 Kilometer</h4>
                            <p>
                                Die 102 Teams haben insgesamt über 104.924 km Luftlinie
                                zurückgelegt.
                                Damit ist BreakOut fast dreimal um die Erde gereist.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row call-to-action">
        <div class="col-md-12 call-to-action-buttons" style="text-align: center">
            <a href="/next-steps">
                <button class="btn btn-primary cta-button-btn" style="display: inline-block">
                    Bei BreakOut mitmachen
                </button>
            </a>

            <span class="line-text">
                2017
            </span>
            <a href="/next-steps">
                <button class="btn btn-primary cta-button-btn">
                    Ein Team unterstützen
                </button>
            </a>
        </div>
    </section>

    <section id="testimonial-carousel" class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="carousel-img" src="img/news-1.jpg" alt="...">
                    <div class="carousel-caption">
                        "Das wohl spannendste Benefizevent Deutschlands"
                        <br>
                        — BR Abendschau, 27. Mai 2016
                    </div>
                </div>
                <div class="item">
                    <img class="carousel-img" src="img/news-2.jpg" alt="...">
                    <div class="carousel-caption">
                        "Ohne Geld nach Irgendwo"
                        — Süddeutsche Zeitung, 6. Mai 2016
                    </div>
                </div>

                <div class="item">
                    <img class="carousel-img" src="img/news-3.jpg" alt="...">
                    <div class="carousel-caption">
                        "Jeder Meter zählt und genau dafür brennen sie. Es ist die große Challenge
                        und es ist beeindruckend, wie weit die Teams ohne Geld gekommen sind."
                        — münchen.tv, 19. Juni 2015
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button"
               data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button"
               data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <section class="row landing-page-section">
            <div class="col-xs-12" style="text-align: center">
                <h3>Unsere Sponsoren</h3>
                <a href="/partner">
                    <button class="btn btn-primary">Jetzt Sponsor werden</button>
                </a>
            </div>
            <!--<div class="col-md-12" style="text-align: center; margin-bottom: 40px">-->
            <!--<h2>Unsere Sponsoren</h2>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
            <!--<div class="col-md-6">-->
            <!--<img class="center-block" height="300" src="http://de.statravel-downloads.eu/Downloads/Media/STA%20Travel_Logo_Lockup_RGB.jpg">-->
            <!--</div>-->
            <!---->
            <!--<div class="col-md-6">-->
            <!--<img class="center-block" height=300 src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/ADAC-Logo.svg/2000px-ADAC-Logo.svg.png">-->
            <!--</div>-->
    </section>
</div>

<!-- TODO: Replace this with fixed footer partial-->

{{> footer }}

</body>
</html>
