<div class="bo-header-info"></div>
<div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-md-12">
            <h1>{{__ 'CODE_HEADING'}}</h1> <!-- TODO: Move to contentful -->
            <hr>
        </div>
    </div>

    {{#each codeOfHonours}}
        <div class="row">

            <div class="col-md-4 hidden-sm hidden-xs">
                <img class="media-object media-middle" width="300px;"
                     src="{{this.image.fields.file.url}}"/>
            </div>

            <div class="col-md-8 top15">
                <h3>{{this.title}}</h3>
                <p>{{{md this.content}}}</p>
            </div>
        </div>
        <hr>
    {{/each}}

    <div class="row top30">
        <div class="col-md-12"></div>
    </div>

</div>