<div class="bo-header-info"></div>
<div class="container">

    <hr>

        <div class="row top30">
            
            
            <img src="{{page.sumImage.fields.file.url}}"
                class="center-block img-responsive img-rounded"
                style="vertical-align: bottom; max-height: 300px;">
            
            <div class="row" style="text-align: center; margin-top:20px">
                
                    <h4>{{page.sumText}}</h4>
            </div>
        </div>
    <hr>

</div>