body {
  padding-top: 50px;
}

@media (max-width: $screen-sm-min) {
  .navbar .navbar-right.bo-user-icons {
    position: absolute;
    margin-top: 4px;
    right: 80px;
  }
  .navbar .navbar-right.bo-user-icons > li {
    display: inline-block;
  }
  //  .navbar .navbar-right.bo-user-icons > li > a {
  //    padding-right: 10px;
  //    padding-left: 10px;
  //  }
}

.bo-highlight-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.bo-highlight-container2 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../img/header2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  text-shadow: 2px 2px $gray-dark;
  blockquote {
    font-size: $font-size-large;
    text-align: center;
    text-shadow: 2px 2px $gray-dark;
    border-width: 0px;
    footer {
      color: #fff;
    }
  }
  a {
    color: #fff;
  }
}

.bo-news-teaser {
  h3 {
    background-color: $brand-primary;
    border-radius: $border-radius-base $border-radius-base 0 0;
    border-color: $brand-primary;
    color: #fff;
    padding: 5px 0 5px 5px;
  }
  .bo-news-teaser-content {
    border-color: $gray-base;
    border-width: 1px;
  }
}

.bo-img-circle {
  border-radius: 50%;
  border-color: $brand-primary;
  border-style: solid;
  color: $brand-primary;
  width: 80px;
  height: 80px;
  //background-color: $gray-light;
  //@include center-block();
}

.bo-teaser {
  margin-left: 90px;
}

.bo-header {
  @include box-shadow(0 1px 1px $gray-dark);
}

.bo-footer {
  padding-top: 20px;
  margin-top: 10px;
  background-color: $gray-base;
  color: $gray-light;
  text-size: $font-size-small;
  a {
    color: $gray-light;
  }
}