{{!--
Renders / (/admin/)
--}}

{{> admin/navigation active='home'}}

<div class="container">
    <h1>Home</h1>
    {{#if success}}
        <div class="alert alert-success">{{success}}</div>
    {{/if}}
</div>