{{!--
Renders /login (/admin/login)
--}}

{{> admin/navigation active='login'}}

<div class="container">

    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    <form action="{{path}}/login" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" value=""/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" value=""/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
        </div>
    </form>
</div>