<div class="container">
    <div class="col-md-4 registration-box-border div-align-mid">
        <div class="row registration-margin">
            <div class="col-xs-10 div-align-mid">
                <img class="bo-modal-logo center" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">
            </div>
        </div>
        <div class="row registration-margin">
            <div class="col-xs-12">
                <h3 class="text-center">Einladen</h3>
                <p>
                    Hier hast Du die Möglichkeit noch weitere Personen zu deinem Team einzuladen. Bitte beachte, dass
                    die erste Person, die die Einladung annimmt, Deinem Team beitritt.
                </p>
            </div>
        </div>
    </div>
</div>
