<div class="container">
    <div class="col-sm-4 registration-box-border div-align-mid">
        <div class="row registration-margin">
            <div class="col-md-10 div-align-mid">
                <img class="bo-modal-logo center" alt="BreakOut" src="/img/logo.svg" height="200">
            </div>
        </div>
        <div class="row registration-margin">
            <div class="col-xs-12 text-center">
                <h2>{{this.titel}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>{{this.description}}</p>
            </div>
        </div>
    </div>
</div>
