<div class="registration-body">
    <div class="container">

        <div class="col-md-3"></div>
        <div class="col-md-6 registration-box-border">
            <div class="row registration-margin">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <img class="bo-modal-logo" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">
                </div>
            </div>
            <div class="row registration-margin">
                <div class="col-xs-12">
                    <h2 class="text-center">Erfolgreich Registriert</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Du hast den ersten Schritt geschafft! Wir haben dir eine E-Mail mit einem Link geschickt, mit dem
                        Du deine E-Mail Adresse bestätigen kannst. Dieser Schritt ist notwendig, damit wir überprüfen
                        können, ob Du wirklich der Inhaber der E-Mail Adresse bist.</p>
                    <p>Dein aktueller Status ist: <strong>Zuschauer</strong>. Damit kannst du nicht nur alle Posts und
                        Updates von teilnehmenden Teams sehen, sondern auch mit den Teams über Kommentare und Likes
                        interagieren.</p>
                    <p>Das ist Dir noch nicht genug? Wir bieten auf unserer Plattform auch noch weitere Accounts an:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="#" class="no-underline">
                        <div class="bo-reg-well-selection">
                            <h4>Teilnehmer</h4>
                            <p>
                                Du willst Dein eigenes Abenteuer erleben und an BreakOut 2016 teilnehmen? Dann gehts
                                hier weiter zur Anmeldung.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="#" class="no-underline">
                        <div class="bo-reg-well-selection">
                            <h4>Sponsor</h4>
                            <p>
                                Du willst dein favouriten Team bei BreakOut 2016 unterstützen und damit etwas Gutes tun?
                                Dann hier klicken und als Sponsor anmelden.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h5><a href="">Du bist erstmal mit Deinem aktuellen Status zufrieden? (Du kannst jederzeit wieder
                        auf diese Seite!)</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>
