<div class="container">
    <div class="col-sm-4 registration-box-border div-align-mid">
        <div class="row registration-margin">
            <div class="col-md-10 div-align-mid">
                <img class="bo-modal-logo center" alt="BreakOut" src="/img/logo.svg" style="max-height: 200px">
            </div>
        </div>
        <div class="row registration-margin">
            <div class="col-xs-12 text-center">
                <h2>{{__ 'HEADLINE'}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>{{__ 'DESCRIPTION'}}</p>
            </div>
        </div>
        <div class="row registration-margin">
            <div class="col-xs-12 text-center">
                <a href="/settings/sponsoring" class="no-underline">
                    <button class="btn btn-primary btn-block">{{__ 'LINK_TO_SETTINGS'}}</button>
                </a>
                </div>
            </div>
        <div class="row registration-margin">
            <div class="col-xs-12 text-center">
                <a href="http://break-out.org" class="no-underline">
                    <button class="btn btn-default btn-block">{{__ 'LINK_DESCRIPTION'}}</button>
                </a>
            </div>
        </div>
    </div>
</div>