<div class="registration-body">
    <div class="container">

        <div class="col-md-4"></div>
        <div class="col-md-4 registration-box-border">
            <div class="row registration-margin">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <img class="bo-modal-logo" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">
                </div>
            </div>
            <div class="row registration-margin">
                <div class="col-xs-12 text-center">
                    <h4>Du wurdest bereits eingeladen</h4>
                </div>
            </div>

            {{#if error}}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger">{{error}}</div>
                    </div>
                </div>
            {{/if}}

            <div class="row">
                <div class="col-xs-12">
                    <p>Um am Event teilzunehmen musst Du in einem Team sein. Du hast bereits von
                        <strong>{{amountInvites}}</strong>
                        Team(s) eine Einladung zum beitreten bekommen. Wähle ein Team zum beitreten aus oder erstelle
                        ein Neues:</p>
                </div>
            </div>
            <div class="row registration-margin">
                <div class="col-xs-12 text-center">
                    {{#each teams}}
                        <p><a href="{{joinlink}}">{{name}}</a></p>
                    {{/each}}
                </div>
            </div>
            <div class="row registration-margin">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-default btn-block">NEUES TEAM ERSTELLEN</button>
                </div>
            </div>
        </div>
    </div>
</div>
