<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2 flex="15">
            <span>{{ edit.page.properties[0].title }}</span>
        </h2>
        <md-input-container>
            <md-select ng-model="edit.props" ng-change="edit.render()">
                <md-option ng-repeat="prop in edit.page.properties" value="{{$index}}">
                    {{prop.language}}
                </md-option>
            </md-select>
        </md-input-container>
        <span flex></span>
        <md-button ng-click="edit.uploadImage($event)" class="md-icon-button" aria-label="Hochladen">
            <md-icon md-svg-icon="icons:upload"></md-icon>
        </md-button>
        <md-button ng-click="edit.save($event)" class="md-icon-button" aria-label="Speichern">
            <md-icon md-svg-icon="icons:save"></md-icon>
        </md-button>
        <md-button ng-click="edit.siteSettings($event)" class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="icons:settings"></md-icon>
        </md-button>
        {{edit.locals}}
        <md-button ng-href="{{edit.getUrl()}}" target="_blank">
            preview
        </md-button>
        <md-button ng-click="edit.remove()" class="md-icon-button" aria-label="Delete">
            <md-icon md-svg-icon="icons:delete"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content flex layout-padding>
    <section dnd-list="edit.page.views" dnd-drop="edit.drop(event, index, item, type)">
        <div class="empty" ng-if="edit.page.views.length==0" flex layout-align="center center">
            <span>Neue Templates über diesem Container droppen!</span>
        </div>
        <div ng-repeat="view in edit.views track by $index"
             class="view"
             dnd-draggable="view"
             dnd-type="'view'"
             dnd-effect-allowed="move">
            <div flex class="view-bar" layout="row" layout-align="center center">
                <md-icon dnd-handle>drag_handle</md-icon>
                <span flex="5"></span>
                <span class="md-headline">{{view.view.templateName}}</span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="edit.deleteView($index)">
                    <md-icon md-svg-icon="icons:delete"></md-icon>
                </md-button>
            </div>
            <bo-preview dnd-nodrag template="view.html" data="view.view" locale="edit.props">
                <div flex></div>
            </bo-preview>
        </div>
        <div class="dndPlaceholder"></div>
        <style scoped>{{::edit.style}}</style>
        <style>#scoper-0 .container {
            width: auto !important;
            padding: 15px;
        }</style>
    </section>
</md-content>
