<div class="bo-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xs-12">
            </div>
            <div class="col-md-3 col-md-offset-1 col-xs-6">
                <!--<h4>{{__ 'FOOTER.H_SUPPORT'}}</h4>-->
                <!--<ul>-->
                    <!--<li><a href="http://www.089-bar.de/" target="_blank">089 Bar</a></li>-->
                    <!--<li><a href="https://www.foboxy.de/" target="_blank">Foboxy</a></li>-->
                    <!--<li><a href="https://1password.com/" target="_blank">1Password</a></li>-->
                    <!--<li><a href="https://zeplin.io/" target="_blank">Zeplin</a></li>-->
                    <!--<li><a href="http://contentful.com" target="_blank">Contentful</a></li>-->
                    <!--<li><a href="https://www.facebook.com/rotaractbcn92/" target="_blank">Rotaract-->
                        <!--Club Barcelona 92</a></li>-->
<!---->
                    <!--<li><a href="https://www.globetrotter.de/" target="_blank">Globetrotter</a></li>-->
                    <!--<li><a href="https://www.uptothesky.de/" target="_blank">Up to the sky</a></li>-->
                <!--</ul>-->
            </div>
            <div class="col-md-3 col-xs-6">
                <h4>Social Media</h4>
                <ul>
                    <li><a href="https://www.facebook.com/breakout.ev/" target="_blank">Facebook</a>
                    </li>
                    <li><a href="https://www.instagram.com/breakout_ev/" target="_blank">Instagram</a>
                    </li>
                    <li><a href="https://twitter.com/breakout_ev" target="_blank">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="clearfix">
            <ul class="list-inline pull-left">
                <li><a href="/privacy-policy">Datenschutzerklärung</a></li>
                <li><a href="/imprint">Impressum</a></li>
            </ul>
            <p class="pull-right">Copyright © 2017 - All Rights Reserved</p>
        </div>
    </div>
</div>