<div class="bo-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <h4>{{__ 'FOOTER.H_SPONSOR'}}</h4>
                <p>{{__ 'FOOTER.SPONSOR'}}</p>
            </div>
            <div class="col-md-3 col-md-offset-1 col-xs-6">
                <h4>{{__ 'FOOTER.H_SUPPORT'}}</h4>
                <ul>
                    <li><a href="http://flixbus.de" target="_blank">MeinFernbus Flixbus</a></li>
                    <li><a href="http://pedalhelden.de" target="_blank">Pedalhelden.de</a></li>
                    <li><a href="http://www.gartensalon.net/" target="_blank">Gartensalon München</a></li>
                    <li><a href="http://www.travelite.de/" target="_blank">Travelite</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-6">
                <h4>{{__ 'FOOTER.H_FRIENDS'}}</h4>
                <ul>
                    <li><a href="http://mesa.esn-germany.de/de" target="_blank">MESA</a></li>
                    <li><a href="http://munichx.de/" target="_blank">munichx</a></li>
                    <li><a href="http://www.crazyrunnings.de/" target="_blank">crazyrunnings</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="clearfix">
            <ul class="list-inline pull-left">
                <li><a href="http://www.break-out.org/impressum">Impressum</a></li>
            </ul>
            <p class="pull-right">Copyright © 2016 - All Rights Reserved</p>
        </div>
    </div>
</div>