<div class="bo-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <h4>Sponsor of BreakOut</h4>
                <p></p>
            </div>
            <div class="col-md-3 col-md-offset-1 col-xs-6">
                <h4>Unterstützt von</h4>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-6">
                <h4>Unsere Freunde</h4>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="clearfix">
            <ul class="list-inline pull-left">
                <li><a href="#"></a></li>
            </ul>
            <p class="pull-right">{{copyright}}</p>
        </div>
    </div>
</div>