<div class="col-xs-6 col-sm-3 col-md-2">
    <div class="bo-member-photo-wrap">
        <div class="bo-member-photo" style="background-image: url({{url}})"></div>
        <div class="bo-member-info-wrap">
            <div class="bo-member-info-name">{{surname}}</div>
            <div class="bo-member-info-role">{{role}}</div>
        </div>
    </div>
</div>