<div class="post">
    <div class="panel panel-default bo-post-wrap">
        <img class="img-responsive bo-img-replacable" src="{{{url}}}">
        <h4 class="bo-post-team-heading">{{{headline1}}}</h4>
        <h4 class="bo-post-team-heading">{{{headline2}}}</h4>
        <div class="panel-body">
            {{{postcontent}}}
        </div>
    </div>
</div>
