<div class="bo-team-posts">
    <div class="panel panel-default bo-post-wrap">
        <img class="img-responsive bo-img-replacable" src="{{{url}}}">
        <h4 class="bo-post-team-heading">{{headline}}</h4>
        <div class="panel-body">
            {{content}}
        </div>
    </div>
</div>
