<div class="col-lg-6 col-sm-12">
    <div class=" bo-team-card">
        <div class="bo-card-media"></div>
        <div class="bo-card-info">
            <div class="bo-card-profilePic" style="background-image: url({{user.profilePic.sizes.0.url}});"></div>
            <div class="bo-card-info-name">
                <h4>{{user.participant.teamName}}</h4>
                <span>{{relativeTime date}}</span>
            </div>
        </div>
        <div class="bo-card-content">
            <p>{{text}}</p>
        </div>
    </div>
</div>