<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Anmeldung zu BreakOut 2016 - {{title}}</title>
    <link href="/css/styles.css" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KH8FMS"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KH8FMS');</script>
    <!-- End Google Tag Manager -->
    <meta property="og:image" content=""/> <!-- 1200x627 -->
    <meta property="og:site_name" content="BreakOut - How Far Can You Go?"/>
    <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16"/>
    <meta property="og:description"
          content="Reise in 36 Stunden soweit weg wie möglich ohne dabei Geld auszugeben. Starte Dein eigenes BreakOut-Abenteuer und ermögliche so Flüchtlingen ein Studium. Challenge accepted? Dann melde Dich bis zum 15. Mai an!"/>
    <meta name="description"
          content="BreakOut - Möglichst weit weg. Zu zweit. Ohne Geld. In 36 Stunden. – Für die UNO-Flüchtlingshilfe.">
</head>
<body>
<div class="registration-body">
    {{{body}}}
</div>
<script type="text/javascript" src="/js/bundle.js"></script>
<script type="text/javascript" src="/js/registration.js"></script>
</body>