<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Admin Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a href="/admin/" class="list-group-item {{#ifCond view "admin-dashboard"}}active{{/ifCond}}">
                    Dashboard
                </a>
                <a href="/admin/payment" class="list-group-item {{#ifCond view "admin-payment"}}active{{/ifCond}}">Zahlungen eintragen</a>
                <a href="/admin/emails" class="list-group-item {{#ifCond view "admin-emails"}}active{{/ifCond}}">Fehlgeschlagene Emails</a>
                <a href="/admin/checkin" class="list-group-item {{#ifCond view "admin-checkin"}}active{{/ifCond}}">CheckIn</a>
                <a href="/admin/invoice" class="list-group-item {{#ifCond view "admin-invoice"}}active{{/ifCond}}">Spenden</a>
            </div>
            <div id="results">

            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">BreakOut Admin Backend</div>
                <div class="panel-body">
                    {{> (lookup . 'view') data}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/admin.js" type="text/javascript" defer></script>