<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BreakOut</title>
    <link href="../css/styles.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="/js/bundle.min.js"></script>
</head>
<body  class="registration-body">
<div class="col-md-3"></div>
<div class="col-md-6 registration-box-border">
    <div class="row registration-margin">
            <img class="bo-modal-logo" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">

    </div>
</div>
<div class="col-md-3"></div>

</body>
</html>