{{!--
{
  "title": "Big Headline",
  "variables": {
    "headline": {
      "title": "Headline text",
      "type": "text"
    }
  }
}
--}}
<!-- template -->
<div class="container bo-template-wrap">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{{headline}}}</h1>
        </div>
    </div>
</div>
<!-- /template -->