{{!--
{
  "title": "Big Block with BreakOut Logo",
  "variables": {}
}
--}}

<div class="bo-header-info">
    <img class="center-block" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">
</div>