{{!--
{
  "title": "one big picture",
  "variables": {
    "url": {
      "title": "ImageUrl",
      "type": "url"
    }
   }
   }
--}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive bo-img-replaceable" src="{{url}}">
        </div>
    </div>
</div>
<!-- /.container -->