<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        .ansi_bold {
            font-weight: bold
        }

        .ansi_italic {
            font-style: italic
        }

        body {
            margin: 0;
            background-color: #222222;
            color: #eeeeee;
            font-family: monospace;
            white-space: pre;
            display: block;
            unicode-bidi: embed;
        }

        .ansi_fg_black {
            color: #222222
        }

        .ansi_fg_red {
            color: rgb(255, 58, 61)
        }

        .ansi_fg_green {
            color: #00cc3e
        }

        .ansi_fg_yellow {
            color: #eeee00
        }

        .ansi_fg_blue {
            color: #0099ff
        }

        .ansi_fg_purple {
            color: #bb00bb
        }

        .ansi_fg_cyan {
            color: #eeeeee
        }

        .ansi_fg_white {
            color: #eeeeee
        }

        .ansi_bg_black {
            background-color: #222222
        }

        .ansi_bg_red {
            background-color: #dd0000
        }

        .ansi_bg_green {
            background-color: #00cc3e
        }

        .ansi_bg_yellow {
            background-color: #eeee00
        }

        .ansi_bg_blue {
            background-color: #0099ff
        }

        .ansi_bg_purple {
            background-color: #bb00bb
        }

        .ansi_bg_cyan {
            background-color: #eeeeee
        }

        .ansi_bg_white {
            background-color: #eeeeee
        }    </style>
</head>
<body>{{{ content }}}</body>
</html>