{{!--
{
  "title": "Just Text",
  "variables": {
    "text": {
      "title": "Text for the paragraph",
      "type": "text"
    }
  }
}
--}}
<!-- template -->
<div class="container bo-template-wrap">
    <div class="row">
        <div class="col-xs-12">
            <p>{{{text}}}</p>
        </div>
    </div>
</div>
<!-- /template -->