{{!--
{
  "title": "Quotes in a slider",
  "variables": {
        "quote": {
          "title": "The quote",
          "type": "text"
        },
        "source": {
          "title": "Source of the quote",
          "type": "text"
        }
  }
}
--}}

<div id="carousel-quotes" class="bo-highlight-container2 carousel slide" data-ride="carousel">
     <div class="container">
        <div class="row quotes">
            <div class="col-md-12">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <blockquote>
                            {{{quote}}}
                            <footer>{{{source}}}</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>