{{!--
{
  "title": "Small Headline",
  "variables": {
    "headline": {
      "title": "Headline text",
      "type": "text"
    }
  }
}
--}}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>{{{headline}}}</h2>
        </div>
    </div>
</div><!-- /.container -->