{{!--
{
  "title": "2/3 Text, 1/3 Pic",
  "variables": {
    "text": {
      "title": "Text for the paragraph",
      "type": "text"
    }
  }
}
--}}
<!-- template -->
<div class="container bo-template-wrap">
    <div class="row">
        <div class="col-sm-8">
            <p>{{{text}}}</p>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive bo-img-replaceable" src="{{{url}}}">
        </div>
    </div>
</div>
<!-- /template -->