{{!--
{
  "title": "About breakout and news teaser",
  "variables": {
    "heading": {
      "title": "Heading",
      "type": "text"
    },
    "contenttext": {
      "title": "Content description",
      "type": "text"
    },
    "newstext": {
      "title": "News teaser",
      "type": "text"
    }
  }
}
--}}

<!-- template -->
<div class="container bo-template-wrap">
    <div class="row">
        <div class="col-md-8">
            <h3>{{{heading}}}</h3>
            {{{contenttext}}}
        </div>
        <div class="col-md-4">
            <div class="bo-news-teaser">
                <h3>News</h3>
                <div class="bo-news-teaser-content">
                    <p>{{{newstext}}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /template -->