{{!--
{
  "title": "2 Pics with Title",
  "variables": {
    "url1": {
      "title": "ImageUrl 1",
      "type": "url"
    },
    "url2": {
      "title": "ImageUrl 1",
      "type": "url"
    },
    "heading1": {
      "title": "Header 1",
      "type": "text"
    },
    "heading2": {
      "title": "Header 2",
      "type": "text"
    }
  }
}
--}}

<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-xs-4">
            <img class="img-responsive bo-img-replaceable" src="{{{url1}}}">
            <h4>{{{heading1}}}</h4>
        </div>
        <div class="col-xs-4">
            <img class="img-responsive bo-img-replaceable" src="{{{url2}}}">
            <h4>{{{heading2}}}</h4>
        </div>
    </div>
</div>