<div class="bo-header-info bo-team-header">

</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Postings zu #{{hashtag}}</h1>
        </div>
    </div>
    <div class="row" id="teamPosts">
        {{#each postings}}
            <div class="col-lg-4 col-sm-6 bo-team-post">
                {{> team-posting isUserAdmin=../isUserAdmin}}
            </div>
        {{/each}}
    </div>
</div>

<script src="/js/team.js" type="text/javascript"></script>