<div flex layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Seiten</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-list>
                <md-list-item ng-repeat="page in app.pages" ng-click="app.selectPage(page)" ng-class="{ selected: page==app.selectedPage}">
                    {{page.properties[0].title}}
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <div flex layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>BreakOut CMS</span>
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <bo-editor ng-if="app.selectedPage" page="app.selectedPage"></bo-editor>
        </md-content>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Templates</h1>
        </md-toolbar>
        <md-content layout-padding>
            <bo-lib active="!app.selectedPage"></bo-lib>
        </md-content>
    </md-sidenav>
</div>