<!--
{
  title: 'Modal login',
}
-->

<div class="modal fade bs-example-modal-sm" id="modalLogin" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <img class="bo-modal-logo" alt="BreakOut" src="./img/logos/BreakOut-Logo_Header.svg">
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="loginEmail">Email Adresse</label>
            <input type="email" class="form-control" id="loginEmail" >
          </div>
          <div class="form-group">
            <label for="loginPassword">Passwort</label>
            <input type="password" class="form-control" id="loginPassword">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block">EINLOGGEN</button>
        <button type="button" class="btn btn-default btn-block">KOSTENLOS REGISTRIEREN</button>
      </div>
    </div>
  </div>
</div>