<!--
{
  title: 'Modal video player'
}
-->
<div class="modal" id="modalIntroVideo" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-content-only">
      <div class="modal-body">
        <iframe width="100%" height="350" src="">
        </iframe>
      </div>
    </div>
  </div>
</div>