<div flex layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Seiten</h1>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item
                        ng-repeat="page in app.pages"
                        ng-click="app.selectPage(page)"
                        ng-class="{ selected: page==app.selectedPage}">
                    {{page.properties[0].title}}
                </md-list-item>
            </md-list>
            <md-button class="md-icon-button" ng-click="app.createPage()" aria-label="Seite erstellen">
                <md-icon md-svg-icon="icons:add-page"></md-icon>
            </md-button><br />
            <md-button class="md-raised md-primary" ng-click="app.editMenu()" aria-label="Menü">
                Menü
            </md-button>
        </md-content>
    </md-sidenav>
    <div flex layout="column">
        <md-toolbar ng-if="!app.selectedPage">
            <div class="md-toolbar-tools">
                <div id="sidenav-open" hide-gt-md>
                    <md-button ng-click="app.toggleMenu('left')">
                        <md-icon>menu</md-icon>
                    </md-button>
                </div>
                <h2>
                    <span>BreakOut CMS</span>
                </h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <bo-editor flex layout="column" ng-if="app.selectedPage" page="app.selectedPage"></bo-editor>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Templates</h1>
        </md-toolbar>
        <md-content layout-padding>
            <bo-lib active="!app.selectedPage"></bo-lib>
        </md-content>
    </md-sidenav>
</div>