<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Über Uns</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p class="bo-text">Hinter BreakOut steht ein motiviertes Team von Studenten der verschiedensten
                Fachrichtungen, die sich alle ehrenamtlich engagieren.<br/>
                Wir sind ein bunt zusammengewürfelter Haufen aus ganz Deutschland und sind von der Idee begeistert, ein
                Reiseabenteuer mit einem nachhaltigen sozialen Zweck zu verknüpfen. Die Geburtsstunde BreakOuts ist
                Robert und Moritz zu verdanken, die 2014 das Projekt ins Leben gerufen haben.
                BreakOut selbst ist gerade auf dem besten Wege ein eingetragener Verein zu werden. </p>

            <p class="bo-text"> Aber vor allem und in erster Linie sind wir die BreakOut-Family!</p>

            <p class="bo-text">Uns ist wichtig, dass alle Spenden zu 100% direkt an das DAFI-Programm der
                UNO-Flüchtlingshilfe gehen. Dabei möchte wir als Organisation, die Geld für gute Zwecke sammelt, so
                offen und transparent wie möglich sein. Ein erster Schritt ist die Veröffentlichung des gesamten Codes,
                der für die Webseite und Apps verwendet wird, auf <a href="https://github.com/BreakOutEvent">GitHub</a>.
                Bei Fragen jeglicher Art stehen wir natürlich immer gerne zur Verfügung und freuen uns immer über neue,
                motivierte Gesichter!</p>
            <p class="bo-text"> Falls Du jetzt oder später mal bei BreakOut mitorganisieren möchtest, hier entlang:
                mitmachen@break-out.org</p>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="/img/teambild.jpg"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr class="bo-member-divider"/>
        </div>
    </div>
    <div class="row">
        {{#each member.[0] }}
            {{> member}}
        {{/each}}
    </div>


    {{#if member.[1].length }}
        <div class="row">
            <h2>Ehemalige Mitglieder</h2>
        </div>
        <div class="row">
            {{#each member.[1]}}
                {{> member}}
            {{/each}}
        </div>
    {{/if}}

    <div class="row">
        <div class="col-xs-12">
            <p>&nbsp;</p>
        </div>
    </div>
</div>
