<div class="container">
    <div class="row">
        <h1>Über Uns</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>TEXT</p>
            <p>TEXT</p>
            <p>TEXT</p>
            <p>TEXT</p>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="http://i.imgur.com/88yXLNF.jpg"/>
            <span></span>
        </div>
    </div>
    <div class="row">
        <h2>Teams</h2>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 ">
            <div class="thumbnail bo-member-team-box">
                <img src="http://i.imgur.com/88yXLNF.jpg" alt="TEAM"
                     class="img-responsive center-block">
                <div class="caption">
                    <h3 class="text-center">TEAM</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 ">
            <div class="thumbnail bo-member-team-box">
                <img src="http://i.imgur.com/88yXLNF.jpg" alt="TEAM"
                     class="img-responsive center-block">
                <div class="caption">
                    <h3 class="text-center">TEAM</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 ">
            <div class="thumbnail bo-member-team-box">
                <img src="http://i.imgur.com/88yXLNF.jpg" alt="TEAM"
                     class="img-responsive center-block">
                <div class="caption">
                    <h3 class="text-center">TEAM</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 ">
            <div class="thumbnail bo-member-team-box">
                <img src="http://i.imgur.com/88yXLNF.jpg" alt="TEAM"
                     class="img-responsive center-block">
                <div class="caption">
                    <h3 class="text-center">TEAM</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 ">
            <div class="thumbnail bo-member-team-box">
                <img src="http://i.imgur.com/88yXLNF.jpg" alt="TEAM"
                     class="img-responsive center-block">
                <div class="caption">
                    <h3 class="text-center">TEAM</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 ">
            <div class="thumbnail bo-member-team-box">
                <img src="http://i.imgur.com/88yXLNF.jpg" alt="TEAM"
                     class="img-responsive center-block">
                <div class="caption">
                    <h3 class="text-center">TEAM</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Aktuelle Mitglieder</h2>
    </div>
    <div class="row">
        {{#each member.[0] }}
            {{> member}}
        {{/each}}
    </div>


    {{#if member.[1].length }}
        <div class="row">
            <h2>Ehemalige Mitglieder</h2>
        </div>
        <div class="row">
            {{#each member.[1]}}
                {{> member}}
            {{/each}}
        </div>
    {{/if}}

    <div class="row">
        <div class="col-xs-12">
            <p>&nbsp;</p>
        </div>
    </div>
</div>
