.bo-team-container{
  height: 100%;
}
.bo-team-content-wrap {
  height: 100%;
}

.bo-team-content-side {
  position: absolute;
  left: 20px;
  top: 150px;
  width: 300px;
height: 100%;
  z-index: 5;
}

.bo-team-header {
  max-height: 200px;
}

.bo-team-content-main {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 350px;
  margin-right: 30px;
}

.bo-team-picture {

}

.bo-team-landscape {

}

.bo-team-posts {
flex: 1;
}