<div id="react-admin-events-overview">
  Still loading...
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB01KdSvxThTLM7fjeXA1zOQ8rURAWbqMk&v=3.exp&libraries=geometry,drawing,places"></script>