<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link href="/css/styles.css" rel="stylesheet">-->
    <link href="/css/temp_style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <script src="http://cdn.jsdelivr.net/g/jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29"></script>
    <script defer="defer" src="/js/angular.min.js"></script>
    <script defer="defer" src="/js/ng-lodash.js"></script>
    <script data-require="handlebars.js@*" data-semver="1.3.0"
            src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
    <script defer="defer" src="/js/app.js"></script>
    <script defer="defer" src="/js/ApiSrv.js"></script>
    <script defer="defer" src="/js/PageCtrl.js"></script>
    <script defer="defer" src="/js/sortable.js"></script>
    <script defer="defer" src="/js/PageListCtrl.js"></script>
    <script defer="defer" src="/js/TemplateListCtrl.js"></script>
    <script defer="defer" src="/js/ui.bootstrap.min.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Breakout</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>


<!-- Page Select -->
<ng-include src="'/views/pageSelect.html'"></ng-include>

<!-- View of Page -->
<div class="col-md-7" ng-controller="PageCtrl as pageCtrl">
    <div class="page-wrapper"></div>
    <ul ui-sortable="sortableOptions" ng-model="list" class="viewList list">
        <li ng-repeat="view in list" class="item">
            <div index={{$index}}>
                <view-elem view="view"></view-elem>
            </div>
        </li>
    </ul>
</div>

<!-- Template Select -->
<ng-include src="'/views/templateSelect.html'"></ng-include>


<!-- Templates auslagern -->
<script type="text/ng-template" id="deletePageModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Seite {{page.title}} löschen?</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="editViewModal.html">
    <div class="modal-header">
        <h3 class="modal-title">View bearbeiten</h3>
    </div>
    <div class="modal-body">
        hello
        <ul>
            <template-variable variable="variable" ng-repeat="variable in view.variables"></template-variable>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

</body>
</html>