<div class="post">
    <div class="panel panel-default bo-post-wrap">
        <img class="img-responsive bo-img-replacable" src="{{{url1}}}">
        <h4 class="bo-post-team-heading">{{{headline11}}}</h4>
        <h4 class="bo-post-team-heading">{{{headline12}}}</h4>
        <div class="panel-body">
            {{{postcontent1}}}
        </div>
    </div>
</div>
