
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="css/styles.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="BreakOut &raquo; Feed" href="http://break-out.org/feed/" />
    <script type="text/javascript" src="js/bundle.js"></script>
	</head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top bo-header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i>Break</i>Out</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Teams</a></li>
            <li><a href="#">Howto</a></li>
            <li><a href="#">Sponsoren</a></li>
            <li><a href="#">Spenden empfangen</a></li>
            <li class="pull-right"><a href="#"  data-toggle="modal" data-target="#modalLogin">Anmelden / Registrieren</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    {{content}}
    
    <div class ="bo-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <h4>Sponsor von BreakOut</h4>
            <p>Think Big ist ein Jugendprogramm der Telefónica Stiftung und der Deutschen Kinder- und Jugendstiftung (DKJS) gemeinsam mit O2.</p>
          </div>
          <div class="col-md-4 col-xs-6">
            <h4>Unterstützt von</h4>
            <ul>
              <li>MeinFernbus Flixbus</li>
              <li>Pedalhelden.de</li>
              <li>Gartensalon Munchen</li>
              <li>Travelite</li>
            </ul>
          </div>
          <div class="col-md-4 col-xs-6">
            <h4>Unsere Freunde</h4>
            <ul>
              <li>MESA</li>
              <li>munichx</li>
              <li>crazyrunnings</li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="clearfix">
          <ul class="list-inline pull-left">
              <li><a href="#">Presse</a></li>
              <li><a href="#">Partner</a></li>
              <li><a href="#">Über uns</a></li>
              <li><a href="#">Impressum</a></li>
          </ul>
          <p class="pull-right">Copyright 2015 BreakOut - All rights reserved</p>
        </div>
      </div>
    </div>

  </body>
</html>
