<div class="bo-header-info bo-team-header"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">SUCHE & HEADLINE</div>
    </div>
    <div class="row">
        {{#each teams}}
            {{> team-tile}}
        {{/each}}
    </div>
</div>
