<div class="bo-header-info bo-team-header">
    <img class="center-block" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">BreakOut 2016 - Liveblog</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3 class="text-center">BreakOut</h3>
            <p class="bo-text">WAS IST BREAKOUT</p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Warum?</h3>
            <p class="bo-text">WAS IST BREAKOUT</p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Wer?</h3>
            <p class="bo-text">WAS IST BREAKOUT</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-sm-6 text-center">
                <span class="bo-lb-counter">70.000 km</span>
            </div>
            <div class="col-sm-6 text-center">
                <span class="bo-lb-counter">120.000 €</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="map" class="bo-team-placeholder" style="width:100%; min-height: 400px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Geschichten der Teams</h2>
        </div>
    </div>
</div>