.image-background(@url) {
  background-image: url(@url);
  background-repeat: no-repeat;
  background-position: center center;
}

.verticalAlign {
  transform: translate3d(0, -50%, 0);
  position: absolute;
  top: 50%;
}

/* TO PROPERLY HANDLE BOX SHADOW */
.box-shadow(@shadow, @shadow2) {
  -webkit-box-shadow: @shadow, @shadow2;
  -moz-box-shadow: @shadow, @shadow2;
  box-shadow: @shadow, @shadow2;
}