.selected{
  background-color: rgba(158,158,158,0.2);
}
bo-preview{
  display: block;
  border: dashed #E0E0E0;
  border-top-style: solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.view {
  margin-bottom: 10px;
}
.dndPlaceholder{
  border: dotted #E0E0E0 3px;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}
.view-bar{
  padding-left: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #E0E0E0;
}
.dndDraggingSource{
  opacity: 0.8;
}
.empty{
  height: 200px;
  background-color: #F5F5F5;
}